@page
@model IndexModel
@using ProjectsToDoList.Models
@{
    ViewData["Title"] = "Projects";
}
@Html.AntiForgeryToken()

<div class="notepad-page-container">
    <div class="notepad-content">
        <ul class="notepad-page">
            @foreach (Project project in Model.Projects)
            {
                <li>
                    <a asp-page="Edit" asp-route-projectname="@project.ProjectName" class="notepad-line-item">@project.ProjectName</a>    
                </li>
            }

            <form asp-page-handler="savenewproject">
                <li>
                    <input class="notepad-line-item faded-text" name="projectName"
                            id="create-new-project" placeholder="Quick create..." />
                </li>
            </form>

            @for(Int32 count = Model.Projects.Count() + 1; count < Model.PageSize; count++)
            {
                <li>
                    <span class="notepad-line-item"></span>    
                </li>
            }
        </ul>

        <a asp-page="create" class="btn notepad-button">Create New</a>

        @if (Model.MorePages)
        {
            <a asp-page="Index" asp-route-pagenumber="@(@Model.CurrentPage + 1)" class="btn btn-sm notepad-button">@(@Model.CurrentPage + 1)</a>
        }
    </div>
</div>
